p{
    font-size: 20px;
    text-align: center;
}

.kotak{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 50px auto 0;
    transition: 1s;
}
/*
   scal ( angka ) , scalex ( angka ) , scaley ( angka )
   rotate ( deg ) , rotateX ( deg ) , rotateY ( deg )
   skew ( deg ) , skewx ( deg ) , skewy ( deg )
   translate ( px ) , translatex ( px ) , translate ( px )
*/

.kotak:hover{
    /* transform: scale(2); */
    /* transform: scale(2, 1); */
    /* transform: scaleX(2) scaleY(1); */
    /* transform: rotateY(180deg) rotateX(180deg) rotateY(180deg); */
    /* transform: skew(30deg) ; */
    /* transform: translate(-50px, 100px);  */
    /* transform: translatex(-50px) translateY(100px); */
    transform: scale(3) rotate(360deg);
}
