/* saat menggunakan google font  */
/* h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
} */
/* end  */

/* sintaks lengkap font-face
@font-face {
font-family: 'namaFontBaru'
src: url('lokasi/file/fontBaru.eot');
src: url('lokasi/file/fontBaru.eot?#iefix') format('embedded-opentype'), 
url('lokasi/file/fontBaru.woff2') format('woff2'), 
url('lokasi/file/fontBaru.woff') format('woff'), 
url('lokasi/file/fontBaru.ttf') format('truetype'),
url('lokasi/file/fontBaru.svg#svgFontName') format('svg');
} */

/* web free font fontsquirrel.com */
/* selalu gunakan font yang berformat woff/woff2 karena lebih cepat dibuka di web  */
/* jika tidak ada, gunakan fasilitas web font generator dari website font squirrel tapi pastikan lisensinya boleh digunakan pada website  */

/* saat menggunakan font-face  */
@font-face {
    font-family: "Righteous Regular";
    src: url(../font/Righteous-Regular.ttf) format('truetype');
}

h1{
    font-size: 100px;
    text-align: center;
    font-family: "Righteous Regular", Arial, Helvetica, sans-serif;
}